<!DOCTYPE html>
<html>
  <head>
    <%-include('./common/admin_head')%>
  </head>
  <body>
    <div class="wrapper">
      <%-include('./common/admin_sidebar')%>
      <div class="main">
        <%-include('./common/admin_nav_main')%>
      
        <%-include('./statistics/admin_content_statistics_nav')%>
        <%-include('./statistics/admin_content_statistics_home')%>
      </div>
    </div>
    <%-include('./common/admin_scripts')%>
  </body>
</html>