<!DOCTYPE html>
<html>
  <head>
    <%-include('./common/client_head')%>
  </head>
  <body>
    <div class="wrapper">
      <%-include('./common/client_sidebar')%>
      <div class="main">
        <%-include('./common/client_nav_main')%>
      
        <%-include('./index/client_content_index_nav')%>
        <%-include('./index/client_content_index_tab')%>
      </div>
    </div>
    <%-include('./common/client_scripts')%>
  </body>
</html>